* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.primary-btn {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 15px;
}

/* header banner styles */
.banner {
  position: relative;
}

.banner-image {
  width: 100%;
}

.banner-info {
  position: absolute;
  top: 27%;
  left: 56%;
  width: 475px;
  height: 228px;
  text-align: right;
  color: #ffffff;
}

.banner-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 70px;
  margin-bottom: 25px;
}

.banner-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 25px;
}

/* previous year section styles */
.image-section > img {
  position: absolute;
  width: 430px;
  height: 540px;
  left: 300px;
  top: 800px;
}

.previous-year-info {
  position: absolute;
  width: 310px;
  height: 400px;
  left: 842px;
  top: 950px;
}

.previous-year-info .title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 25px;
}

.previous-year-info .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 15px;
}

.previous-year-info li {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #444343;
}

