* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

section {
  margin-top: 120px;
}

.primary-btn {
  width: 150px;
  height: 45px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  font-size: 15px;
}

/* header banner styles */
.banner {
  display: flex;
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-position: -50px -20px;
  width: 100%;
  height: 808px; 
}

.banner-container {
  margin-left: auto;
  margin-right: 0;
  padding: 195px 170px 0 0;
}

.banner-info {
  text-align: right;
  width: 400px;
}

.banner-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 70px;
  margin-bottom: 20px;
  color: #ffffff;
}

.banner-description {
  margin-left: auto;
  margin-right: 0;
  padding: 20px 0;
  width: 400px;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #ffffff;
}

/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* previous year section styles */
.previous-year-section {
  display: flex;
  margin: 150px 0 0 130px;
}

.image-section > img {
  width: 430px;
  height: 540px;
}

.previous-year-info {
  width: 310px;
  height: 400px;
  margin: 170px 0 0 80px;
}

.previous-year-info .title {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
  margin-bottom: 25px;
  color: #151414;
}

.previous-year-info .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 15px;
}

.previous-year-info li {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #444343;
}

/* plans section styles */
.plans-section {
  text-align: center;
}

.plans-section > .title {
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  color: #151414;
  margin-bottom: 50px;
}

.plans-container {
  display: flex;
  justify-content: center;
}

.plans-info {
  display: flex;
  justify-content: space-between;
  width: 950px;
}

.plan > img {
  width: 60px;
  height: 60px;
}

.plan .title,
.sub-title,
img {
  margin-bottom: 15px;
}

.plan .title {
  font-weight: 700;
  font-size: 23px;
  line-height: 35px;
  color: #151414;
}
.plan .sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  color: #151414;
}

/* gradient banner section styles */
.gradient {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.gradient-background {
  width: 1000px;
  height: 300px;
  background: linear-gradient(90deg, #005fac 0%, rgba(0, 95, 172, 0) 100%);
  border-radius: 8px;
  background-image: url("../images/gradient1.png"), url("../images/watch.png");
  background-repeat: no-repeat;
  background-position: left, right;
}

.gradient-info > .title {
  font-weight: 700;
  font-size: 35px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 20px;
}

.gradient-info button {
  color: #005fac;
}

.gradient-info {
  width: 459px;
  height: 182px;
  margin: 70px 0 0 80px;
}

/* footer section styles */
.footer {
  display: flex;
  justify-content: center;
  background-color: #000000;
  color: #ffffff;
  padding-top: 130px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

.footer-info {
  width: 450px;
  height: 300px;
}

.footer-info .title {
  font-weight: 700;
  font-size: 35px;
  line-height: 26px;
  margin-bottom: 16px;
}
.footer-info .description {
  margin-bottom: 20px;
}

.footer-info p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.contact-info > p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
}

.social-icons {
  display: flex;
}

.social-icons img {
  margin: 20px 20px 0 0;
  width: 35px;
  height: 35px;
}

.subscribe {
  width: 300px;
}
.subscribe .title {
  font-weight: 600;
  font-size: 25px;
  line-height: 29px;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe input[type="email"] {
  border: 0;
  width: 100%;
  border-radius: 5px;
  padding: 18px 30px;
}

.subscribe .primary-btn {
  background: #005fac;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 15px;
}
